<app-header></app-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Card Checkout</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="margin: 20px;">
    <section>
      <ion-button expand="block" (click)="reset()">Reset example</ion-button>
    </section>
  </div>

  <div style="margin: 40px 20px;">
    <section>

      <header>Create a charge session</header>
      <ion-item>
        <ion-label position="stacked">Order Handle</ion-label>
        <ion-input placeholder="<optional>" clearInput [(ngModel)]="orderHandle"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="stacked">Customer Handle</ion-label>
        <ion-input placeholder="<optional>" clearInput [(ngModel)]="customerHandle"></ion-input>
      </ion-item>
      <br>
      <ion-button expand="block" (click)="generate()">Generate</ion-button>
    </section>
  </div>

  <div style="margin: 40px 20px;">
    <section>
      <header>Generated charge session</header>
      <ion-item>
        <ion-input placeholder="<generated session url" clearInput [(ngModel)]="sessionUrl"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input placeholder="<generated session id>" [disabled]="true" clearInput [(ngModel)]="sessionId">
        </ion-input>
      </ion-item>
      <br>
      <ion-button expand="block" (click)="create()" [disabled]="!sessionUrl">Create checkout</ion-button>
    </section>
  </div>

</ion-content>