<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-reepay-checkout" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>
		ReepayCheckout
	</name>
	<js-module name="ReepayCheckout" src="www/ReepayCheckout.js">
		<clobbers target="cordova.plugins.ReepayCheckout" />
	</js-module>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="ReepayCheckout">
				<param name="ios-package" value="ReepayCheckout" />
			</feature>
		</config-file>
		<source-file src="src/ios/ReepayCheckout.swift" />
		<source-file src="src/ios/CheckoutViewController.swift" />
	</platform>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="ReepayCheckout">
				<param name="android-package" value="cordova.plugin.reepay.checkout.ReepayCheckout" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
		</config-file>
		<source-file src="src/android/ReepayCheckout.java" target-dir="src/cordova/plugin/reepay/checkout/ReepayCheckout" />
	</platform>
</plugin>
